@model Soporte_averias.Models.TBL_FechaCreacionCaso

@{
	ViewBag.Title = "Detalles de fecha creación de caso";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="barlow-regular barlow-semibold">@ViewBag.Title</h2>

<div class="custom-card">
		<h5 class="custom-card-header"> Creación de caso </h5>
	<div class="card-body">

		<dl class="dl-horizontal titulo_dl">

			<dt>
				<i class="fa-solid fa-calendar-days"></i>
				Fecha creación de caso
			</dt>

			<dd>
				@Html.DisplayFor(model => model.TD_FechaCreacionCaso)
			</dd>
			<br />
			<dt>
				<i class="fa-solid fa-note-sticky"></i>
				Descripción
			</dt>

			<dd>
				@Html.DisplayFor(model => model.TC_Descripcion)
			</dd>

		</dl>

	</div>

</div>
<div >

<a class="btn btn-secondary btn_edit btn-separator" href="@Url.Action("Edit","FechaCreacionCaso", new { id = Model.TN_IdFechaCreacionCaso })">
	<i class="fa-solid fa-pen-to-square"></i>
</a>


</div>
<a class="btn btn-secondary btn_back" href="@Url.Action("Index", "FechaCreacionCaso")">
	<i class="fa-solid fa-undo" aria-hidden="true"></i>
</a>

