@model Soporte_averias.Models.TBL_Caso

@{
	ViewBag.Title = "Editando caso";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.CurrentFilter = ViewBag.CurrentFilter ?? "";
}

<h2 class="barlow-regular barlow-semibold">@ViewBag.Title</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="custom-card">
		<h5 class="custom-card-header">
			Caso
		</h5>
		<div class="card-body">
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.TN_IdCaso)

		<div class="form-group">
			<i class="fa-solid fa-calendar-days"></i>
			@Html.LabelFor(model => model.TN_IdPeriodoGarantia, "Periodo de garantía", htmlAttributes: new { @class = "control-label col-md-2 titulo_detalles" })
			<div class="col-md-10">

				@Html.DropDownList("TN_IdPeriodoGarantia", null, htmlAttributes: new { @class = "form-control ", @required = "required" })
				<span class="text-danger">Nota: es importante seleccionar un periodo  diferente al de 'Seleccione periodo' </span>

				@Html.ValidationMessageFor(model => model.TN_IdPeriodoGarantia, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			<i class="fa-solid fa-calendar-days"></i>

			@Html.LabelFor(model => model.TN_IdFechaCreacionCaso, "Fecha creación de caso", htmlAttributes: new { @class = "control-label col-md-2 titulo_detalles" })
			<div class="col-md-10">
				@Html.DropDownList("TN_IdFechaCreacionCaso", null, htmlAttributes: new { @class = "form-control", @required = "required" })
				<span class="text-danger">Nota: es importante seleccionar una fecha diferente al de 'Seleccione fecha' </span>


				@Html.ValidationMessageFor(model => model.TN_IdFechaCreacionCaso, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<i class="fa-solid fa-user-tie"></i>
			@Html.LabelFor(model => model.TN_IdEmpleado, "Empleado asignado", htmlAttributes: new { @class = "control-label col-md-2 titulo_detalles" })
			<div class="col-md-10">
				@Html.DropDownList("TN_IdEmpleado", ViewBag.TN_IdEmpleadoList as SelectList, htmlAttributes: new { @class = "form-control", @required = "required" })
				<span class="text-danger">Nota: es importante seleccionar un empleado diferente al de 'Seleccione empleado' </span>

				@Html.ValidationMessageFor(model => model.TN_IdEmpleado, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<i class="fa-solid fa-city"></i>

			@Html.LabelFor(model => model.TN_IdMunicipalidad, "Municipalidad", htmlAttributes: new { @class = "control-label col-md-2 titulo_detalles" })
			<div class="col-md-10">
				@Html.DropDownList("TN_IdMunicipalidad", null, htmlAttributes: new { @class = "form-control", @required = "required" })
				<span class="text-danger">Nota: es importante seleccionar una municipalidad diferente al de 'Seleccione municipalidad' </span>

				@Html.ValidationMessageFor(model => model.TN_IdMunicipalidad, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			<i class="fa-solid fa-circle-user"></i>

			@Html.LabelFor(model => model.TN_IdCliente, "Cliente", htmlAttributes: new { @class = "control-label col-md-2 titulo_detalles" })
			<div class="col-md-10">
				@Html.DropDownList("TN_IdCliente", null, htmlAttributes: new { @class = "form-control", @required = "required" })
				<span class="text-danger">Nota: es importante seleccionar un cliente diferente al de 'Seleccione cliente' </span>
				@Html.ValidationMessageFor(model => model.TN_IdCliente, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			<i class="fa-solid fa-boxes-stacked"></i>

			@Html.LabelFor(model => model.TN_IdProducto, "Producto", htmlAttributes: new { @class = "control-label col-md-2 titulo_detalles" })
			<div class="col-md-10">
				@Html.DropDownList("TN_IdProducto", null, htmlAttributes: new { @class = "form-control", @required = "required" })
				<span class="text-danger">Nota: es importante seleccionar un producto diferente al de 'Seleccione producto' </span>
				@Html.ValidationMessageFor(model => model.TN_IdProducto, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			<i class="fa-solid fa-note-sticky"></i>

			@Html.LabelFor(model => model.TN_IdDescripcionCaso, "Descripción de caso", htmlAttributes: new { @class = "control-label col-md-2 titulo_detalles" })
			<div class="col-md-10">
				@Html.DropDownList("TN_IdDescripcionCaso", null, htmlAttributes: new { @class = "form-control", @required = "required" })
				<span class="text-danger">Nota: es importante seleccionar una descripción diferente al de 'Seleccione descripción' </span>

				@Html.ValidationMessageFor(model => model.TN_IdDescripcionCaso, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			<i class="fa-solid fa-bell"></i>

			@Html.LabelFor(model => model.TN_IdPrioridadCaso, "Prioridad de caso", htmlAttributes: new { @class = "control-label col-md-2 titulo_detalles" })
			<div class="col-md-10">
				@Html.DropDownList("TN_IdPrioridadCaso", null, htmlAttributes: new { @class = "form-control", @required = "required" })
				<span class="text-danger">
					Nota: es importante seleccionar una prioridad diferente al de 'Seleccione prioridad'
				</span>
				@Html.ValidationMessageFor(model => model.TN_IdPrioridadCaso, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			<i class="fa-solid fa-bars-progress"></i>

			@Html.LabelFor(model => model.TN_IdEstadoCaso, "Estado del caso", htmlAttributes: new { @class = "control-label col-md-2 titulo_detalles" })
			<div class="col-md-10">
				@Html.DropDownList("TN_IdEstadoCaso", null, htmlAttributes: new { @class = "form-control", @required = "required" })
				<span class="text-danger">Nota: es importante seleccionar un estado diferente al de 'Seleccione estado' </span>
				@Html.ValidationMessageFor(model => model.TN_IdEstadoCaso, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			<i class="fa-solid fa-user"></i>
			@Html.LabelFor(model => model.TN_IdUsuario, "Quien reporta el caso", htmlAttributes: new { @class = "control-label col-md-2 titulo_detalles" })
			<div class="col-md-10">
				@Html.DropDownList("TN_IdUsuario", ViewBag.TN_IdUsuarioList as SelectList, htmlAttributes: new { @class = "form-control", @required = "required" })

				<span class="text-danger">Nota: es importante seleccionar un usuario diferente al de 'Seleccione usuario' </span>
				@Html.ValidationMessageFor(model => model.TN_IdUsuario, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="form-group">
			<i class="fa-solid fa-calendar-days"></i>
			@Html.LabelFor(model => model.TN_IdFechaCierreCaso, "Fecha cierre de caso", htmlAttributes: new { @class = "control-label col-md-2 titulo_detalles" })
			<div class="col-md-10">

				@Html.DropDownList("TN_IdFechaCierreCaso", null, htmlAttributes: new { @class = "form-control", @required = "required" })
				<span class="text-danger">Nota: es importante seleccionar una fecha diferente al de 'Seleccione fecha' </span>


				@Html.ValidationMessageFor(model => model.TN_IdFechaCierreCaso, "", new { @class = "text-danger" })
			</div>
		</div>


		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<button type="submit" class="btn btn-secondary btn_edit">
					<i class="fa fa-refresh" aria-hidden="true"></i>
				</button>
			</div>
		</div>
	</div>
	</div>
}



<div>
	<a class="btn_back btn btn-secondary btn-separator" href="@Url.Action("Index", "Caso")">
		<i class="fa fa-undo" aria-hidden="true"></i>


	</a>
</div>
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
