@model Soporte_averias.Models.TBL_Empleado

@{
	ViewBag.Title = "Detalles empleado";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="barlow-regular barlow-semibold">@ViewBag.Title</h2>

<div class="custom-card ">
		<h5 class="custom-card-header">Empleado</h5>
	<div class="card-body">

		<dl class="dl-horizontal titulo_dl">
			<dt>
				<i class="fa-solid fa-id-card"></i>
				Cédula
			</dt>

			<dd>
				@Html.DisplayFor(model => model.TN_Cedula)
			</dd>
			<br />
			<dt>
				<i class="fa-solid fa-circle-user"></i>
				Nombre
			</dt>

			<dd>
				@Html.DisplayFor(model => model.TC_Nombre)
			</dd>
			<br />
			<dt>
				<i class="fa-solid fa-circle-user"></i>
				Primer apellido
			</dt>
		
			<dd>
				@Html.DisplayFor(model => model.TC_PrimerApellido)
			</dd>
			<br />
			<dt>
				<i class="fa-solid fa-circle-user"></i>
				Segundo apellido
			</dt>

			<dd>
				@Html.DisplayFor(model => model.TC_SegundoApellido)
			</dd>

		</dl>
	</div>
</div>
<div>

	<a class="btn btn-secondary btn_edit btn-separator" href="@Url.Action("Edit","Empleado", new { id = Model.TN_IdEmpleado })">
		<i class="fa-solid fa-pen-to-square"></i>
	</a>


</div>
<a class="btn btn-secondary btn_back" href="@Url.Action("Index", "Empleado")">
	<i class="fa-solid fa-undo" aria-hidden="true"></i>
</a>
